# === Виртуальные окружения ===
.venv/
venv/

# === Python cache ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Логи и отладочные файлы ===
*.log

# === Конфиги редакторов ===
.vscode/
.idea/
*.swp

# === Загруженные и временные файлы ===
uploaded/*
!uploaded/.gitkeep
*.bak

# === Системные файлы ОС ===
.DS_Store
Thumbs.db
